<a href="https://colab.research.google.com/github/rutviknr/Occupational_Growth/blob/main/Occupation_Employment_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Build a simple neural network to predict the percent change of a particular occupation**

Step-1: Imports and Reading Data

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [ ]:
df=pd.read_csv('dataset.csv')

In [ ]:
df

,State FIPS,Area Name,Occupation Code,Occupation Name,Base Year,Base,Projected Year,Projection,Change,Percent Change,Average Annual Openings
0,0,United States,00-0000,"Total, All Occupations",2014,150539900,2024,160328800,9788900,6.5,4650690
1,0,United States,11-1011,Chief Executives,2014,343400,2024,339400,-4100,-1.2,5840
2,0,United States,11-1021,General and Operations Managers,2014,2124100,2024,2275200,151100,7.1,68880
3,0,United States,11-1031,Legislators,2014,58300,2024,57900,-400,-0.7,1290
4,0,United States,11-2011,Advertising and Promotions Managers,2014,31000,2024,32400,1500,4.7,1140
...,...,...,...,...,...,...,...,...,...,...,...
34977,78,Virgin Islands,53-3031,Driver/Sales Workers,2014,130,2024,140,10,10.9,0
34978,78,Virgin Islands,53-3033,Light Truck or Delivery Services Drivers,2014,240,2024,260,20,7.0,10
34979,78,Virgin Islands,53-3041,Taxi Drivers and Chauffeurs,2014,90,2024,90,0,5.7,0
34980,78,Virgin Islands,53-7062,"Laborers and Freight, Stock, and Material Move...",2014,460,2024,480,20,6.4,20
34981,78,Virgin Islands,53-7064,"Packers and Packagers, Hand",2014,190,2024,170,-20,-8.5,10

Step-2: Data Understanding

In [ ]:
df.shape

(34982, 11)

In [ ]:
df.head()

,State FIPS,Area Name,Occupation Code,Occupation Name,Base Year,Base,Projected Year,Projection,Change,Percent Change,Average Annual Openings
0,0,United States,00-0000,"Total, All Occupations",2014,150539900,2024,160328800,9788900,6.5,4650690
1,0,United States,11-1011,Chief Executives,2014,343400,2024,339400,-4100,-1.2,5840
2,0,United States,11-1021,General and Operations Managers,2014,2124100,2024,2275200,151100,7.1,68880
3,0,United States,11-1031,Legislators,2014,58300,2024,57900,-400,-0.7,1290
4,0,United States,11-2011,Advertising and Promotions Managers,2014,31000,2024,32400,1500,4.7,1140

In [ ]:
df.columns

Index(['State FIPS', 'Area Name', 'Occupation Code', 'Occupation Name',
       'Base Year', 'Base', 'Projected Year', 'Projection', 'Change',
       'Percent Change', 'Average Annual Openings'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34982 entries, 0 to 34981
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   State FIPS               34982 non-null  int64
 1   Area Name                34982 non-null  object
 2   Occupation Code          34982 non-null  object
 3   Occupation Name          34982 non-null  object
 4   Base Year                34982 non-null  int64
 5   Base                     34982 non-null  int64
 6   Projected Year           34982 non-null  int64
 7   Projection               34982 non-null  int64
 8   Change                   34982 non-null  int64
 9   Percent Change           34982 non-null  float64
 10  Average Annual Openings  34982 non-null  int64
dtypes: float64(1), int64(7), object(3)
memory usage: 2.9+ MB

In [ ]:
df.dtypes

State FIPS                   int64
Area Name                   object
Occupation Code             object
Occupation Name             object
Base Year                    int64
Base                         int64
Projected Year               int64
Projection                   int64
Change                       int64
Percent Change             float64
Average Annual Openings      int64
dtype: object

In [ ]:
df.describe()

,State FIPS,Base Year,Base,Projected Year,Projection,Change,Percent Change,Average Annual Openings
count,34982.000000,34982.0,3.498200e+04,34982.0,3.498200e+04,3.498200e+04,34982.000000,3.498200e+04
mean,29.207364,2014.0,1.715846e+04,2024.0,1.873166e+04,1.573142e+03,8.564164,5.858850e+02
std,17.023134,0.0,8.246054e+05,0.0,8.808294e+05,5.816050e+04,12.593383,2.581484e+04
min,0.000000,2014.0,0.000000e+00,2024.0,0.000000e+00,-1.487000e+05,-71.800000,0.000000e+00
25%,16.000000,2014.0,2.800000e+02,2024.0,3.000000e+02,1.000000e+01,2.100000,1.000000e+01
50%,29.000000,2014.0,9.200000e+02,2024.0,9.900000e+02,5.000000e+01,7.900000,3.000000e+01
75%,42.000000,2014.0,3.320000e+03,2024.0,3.640000e+03,3.000000e+02,15.100000,1.100000e+02
max,78.000000,2014.0,1.505399e+08,2024.0,1.603288e+08,9.788900e+06,302.200000,4.650690e+06

Step-3: Data Preparation

In [ ]:
df.isnull().sum()

State FIPS                 0
Area Name                  0
Occupation Code            0
Occupation Name            0
Base Year                  0
Base                       0
Projected Year             0
Projection                 0
Change                     0
Percent Change             0
Average Annual Openings    0
dtype: int64

In [ ]:
df = pd.get_dummies(df,columns=['Occupation Name'],drop_first=True)

In [ ]:
df

,State FIPS,Area Name,Occupation Code,Base Year,Base,Projected Year,Projection,Change,Percent Change,Average Annual Openings,...,"Occupation Name_Welders, Cutters, Solderers, and Brazers","Occupation Name_Welding, Soldering, and Brazing Machine Setters, Operators, and Tenders",Occupation Name_Wellhead Pumpers,"Occupation Name_Wholesale and Retail Buyers, Except Farm Products",Occupation Name_Wind Turbine Service Technicians,"Occupation Name_Woodworkers, All Other","Occupation Name_Woodworking Machine Setters, Operators, and Tenders, Except Sawing",Occupation Name_Word Processors and Typists,Occupation Name_Writers and Authors,Occupation Name_Zoologists and Wildlife Biologists
0,0,United States,00-0000,2014,150539900,2024,160328800,9788900,6.5,4650690,...,0,0,0,0,0,0,0,0,0,0
1,0,United States,11-1011,2014,343400,2024,339400,-4100,-1.2,5840,...,0,0,0,0,0,0,0,0,0,0
2,0,United States,11-1021,2014,2124100,2024,2275200,151100,7.1,68880,...,0,0,0,0,0,0,0,0,0,0
3,0,United States,11-1031,2014,58300,2024,57900,-400,-0.7,1290,...,0,0,0,0,0,0,0,0,0,0
4,0,United States,11-2011,2014,31000,2024,32400,1500,4.7,1140,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34977,78,Virgin Islands,53-3031,2014,130,2024,140,10,10.9,0,...,0,0,0,0,0,0,0,0,0,0
34978,78,Virgin Islands,53-3033,2014,240,2024,260,20,7.0,10,...,0,0,0,0,0,0,0,0,0,0
34979,78,Virgin Islands,53-3041,2014,90,2024,90,0,5.7,0,...,0,0,0,0,0,0,0,0,0,0
34980,78,Virgin Islands,53-7062,2014,460,2024,480,20,6.4,20,...,0,0,0,0,0,0,0,0,0,0
34981,78,Virgin Islands,53-7064,2014,190,2024,170,-20,-8.5,10,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df.isnull().sum()

State FIPS                                                                            0
Area Name                                                                             0
Occupation Code                                                                       0
Base Year                                                                             0
Base                                                                                  0
                                                                                     ..
Occupation Name_Woodworkers, All Other                                                0
Occupation Name_Woodworking Machine Setters, Operators, and Tenders, Except Sawing    0
Occupation Name_Word Processors and Typists                                           0
Occupation Name_Writers and Authors                                                   0
Occupation Name_Zoologists and Wildlife Biologists                                    0
Length: 829, dtype: int64

Step-4: Normalisation

In [ ]:
X = df.drop(columns=['Percent Change','State FIPS','Area Name','Occupation Code'])
y = df['Percent Change']

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=50)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_trf = scaler.fit_transform(X_train)
X_test_trf = scaler.transform(X_test)

Step-5: Building the Model

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
model = Sequential()
model.add(Dense(64, input_dim=X_train_trf.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='linear'))

In [ ]:
model.compile(loss='mean_squared_error', optimizer='adam')

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                52864

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 54,977
Trainable params: 54,977
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(X_train_trf, y_train, epochs=100, batch_size=32, verbose=1)

Epoch 1/100
875/875 [==============================] - 5s 4ms/step - loss: 115.9705
Epoch 2/100
875/875 [==============================] - 3s 3ms/step - loss: 89.3711
Epoch 3/100
875/875 [==============================] - 3s 3ms/step - loss: 87.3421
Epoch 4/100
875/875 [==============================] - 3s 4ms/step - loss: 86.5931
Epoch 5/100
875/875 [==============================] - 3s 3ms/step - loss: 86.2760
Epoch 6/100
875/875 [==============================] - 3s 3ms/step - loss: 85.9295
Epoch 7/100
875/875 [==============================] - 3s 3ms/step - loss: 85.6516
Epoch 8/100
875/875 [==============================] - 4s 5ms/step - loss: 85.5011
Epoch 9/100
875/875 [==============================] - 4s 4ms/step - loss: 85.3592
Epoch 10/100
875/875 [==============================] - 3s 4ms/step - loss: 85.2504
Epoch 11/100
875/875 [==============================] - 5s 5ms/step - loss: 84.9878
Epoch 12/100
875/875 [==============================] - 3s 3ms/step - loss: 84.9198
Epoch 13/100
875/875 [==============================] - 3s 3ms/step - loss: 84.8805
Epoch 14/100
875/875 [==============================] - 3s 3ms/step - loss: 84.6448
Epoch 15/100
875/875 [==============================] - 3s 4ms/step - loss: 84.6411
Epoch 16/100
875/875 [==============================] - 3s 3ms/step - loss: 84.4119
Epoch 17/100
875/875 [==============================] - 3s 3ms/step - loss: 84.4317
Epoch 18/100
875/875 [==============================] - 2s 3ms/step - loss: 84.4232
Epoch 19/100
875/875 [==============================] - 2s 3ms/step - loss: 84.3229
Epoch 20/100
875/875 [==============================] - 4s 4ms/step - loss: 84.2362
Epoch 21/100
875/875 [==============================] - 4s 4ms/step - loss: 84.1700
Epoch 22/100
875/875 [==============================] - 2s 3ms/step - loss: 83.9755
Epoch 23/100
875/875 [==============================] - 3s 3ms/step - loss: 84.0287
Epoch 24/100
875/875 [==============================] - 3s 3ms/step - loss: 83.8824
Epoch 25/100
875/875 [==============================] - 3s 3ms/step - loss: 83.9079
Epoch 26/100
875/875 [==============================] - 2s 3ms/step - loss: 83.8105
Epoch 27/100
875/875 [==============================] - 3s 3ms/step - loss: 83.7272
Epoch 28/100
875/875 [==============================] - 3s 3ms/step - loss: 83.6935
Epoch 29/100
875/875 [==============================] - 3s 4ms/step - loss: 83.6636
Epoch 30/100
875/875 [==============================] - 3s 3ms/step - loss: 83.6362
Epoch 31/100
875/875 [==============================] - 2s 3ms/step - loss: 83.5822
Epoch 32/100
875/875 [==============================] - 2s 3ms/step - loss: 83.4300
Epoch 33/100
875/875 [==============================] - 3s 3ms/step - loss: 83.5792
Epoch 34/100
875/875 [==============================] - 4s 5ms/step - loss: 83.5088
Epoch 35/100
875/875 [==============================] - 3s 4ms/step - loss: 83.4125
Epoch 36/100
875/875 [==============================] - 2s 3ms/step - loss: 83.3850
Epoch 37/100
875/875 [==============================] - 2s 3ms/step - loss: 83.3895
Epoch 38/100
875/875 [==============================] - 2s 3ms/step - loss: 83.2976
Epoch 39/100
875/875 [==============================] - 3s 3ms/step - loss: 83.2671
Epoch 40/100
875/875 [==============================] - 3s 3ms/step - loss: 83.2417
Epoch 41/100
875/875 [==============================] - 2s 3ms/step - loss: 83.1219
Epoch 42/100
875/875 [==============================] - 2s 3ms/step - loss: 83.2058
Epoch 43/100
875/875 [==============================] - 2s 3ms/step - loss: 83.1340
Epoch 44/100
875/875 [==============================] - 3s 3ms/step - loss: 83.1502
Epoch 45/100
875/875 [==============================] - 3s 4ms/step - loss: 83.0052
Epoch 46/100
875/875 [==============================] - 3s 3ms/step - loss: 83.0163
Epoch 47/100
875/875 [==============================] - 3s 3ms/step - loss: 82.9817
Epoch 48/100
875/875 [==============================] - 3s 3ms/step - loss: 83.0188
Epoch 49/100
875/875 [==============================] - 3s 4ms/step - loss: 82.9968
Epoch 50/100
875/875 [==============================] - 3s 3ms/step - loss: 82.9101
Epoch 51/100
875/875 [==============================] - 2s 3ms/step - loss: 82.7912
Epoch 52/100
875/875 [==============================] - 2s 3ms/step - loss: 82.8490
Epoch 53/100
875/875 [==============================] - 3s 3ms/step - loss: 82.7688
Epoch 54/100
875/875 [==============================] - 3s 4ms/step - loss: 82.7745
Epoch 55/100
875/875 [==============================] - 3s 3ms/step - loss: 82.7605
Epoch 56/100
875/875 [==============================] - 3s 3ms/step - loss: 82.7291
Epoch 57/100
875/875 [==============================] - 2s 3ms/step - loss: 82.5931
Epoch 58/100
875/875 [==============================] - 3s 3ms/step - loss: 82.6542
Epoch 59/100
875/875 [==============================] - 3s 3ms/step - loss: 82.5764
Epoch 60/100
875/875 [==============================] - 2s 3ms/step - loss: 82.5610
Epoch 61/100
875/875 [==============================] - 2s 3ms/step - loss: 82.4839
Epoch 62/100
875/875 [==============================] - 2s 3ms/step - loss: 82.4556
Epoch 63/100
875/875 [==============================] - 3s 3ms/step - loss: 82.3864
Epoch 64/100
875/875 [==============================] - 3s 4ms/step - loss: 82.3370
Epoch 65/100
875/875 [==============================] - 2s 3ms/step - loss: 82.2924
Epoch 66/100
875/875 [==============================] - 2s 3ms/step - loss: 82.3251
Epoch 67/100
875/875 [==============================] - 2s 3ms/step - loss: 82.3519
Epoch 68/100
875/875 [==============================] - 4s 4ms/step - loss: 82.2841
Epoch 69/100
875/875 [==============================] - 3s 3ms/step - loss: 82.1657
Epoch 70/100
875/875 [==============================] - 2s 3ms/step - loss: 82.1835
Epoch 71/100
875/875 [==============================] - 3s 3ms/step - loss: 82.2992
Epoch 72/100
875/875 [==============================] - 3s 3ms/step - loss: 82.1555
Epoch 73/100
875/875 [==============================] - 4s 4ms/step - loss: 82.0627
Epoch 74/100
875/875 [==============================] - 2s 3ms/step - loss: 82.1235
Epoch 75/100
875/875 [==============================] - 2s 3ms/step - loss: 81.8651
Epoch 76/100
875/875 [==============================] - 2s 3ms/step - loss: 81.9359
Epoch 77/100
875/875 [==============================] - 3s 3ms/step - loss: 81.9703
Epoch 78/100
875/875 [==============================] - 3s 4ms/step - loss: 81.9054
Epoch 79/100
875/875 [==============================] - 2s 3ms/step - loss: 81.8555
Epoch 80/100
875/875 [==============================] - 2s 3ms/step - loss: 81.8286
Epoch 81/100
875/875 [==============================] - 2s 3ms/step - loss: 81.7439
Epoch 82/100
875/875 [==============================] - 3s 3ms/step - loss: 81.7331
Epoch 83/100
875/875 [==============================] - 3s 4ms/step - loss: 81.5830
Epoch 84/100
875/875 [==============================] - 2s 3ms/step - loss: 81.5832
Epoch 85/100
875/875 [==============================] - 2s 3ms/step - loss: 81.4932
Epoch 86/100
875/875 [==============================] - 2s 3ms/step - loss: 81.4422
Epoch 87/100
875/875 [==============================] - 2s 3ms/step - loss: 81.3764
Epoch 88/100
875/875 [==============================] - 4s 4ms/step - loss: 81.2898
Epoch 89/100
875/875 [==============================] - 3s 4ms/step - loss: 81.2133
Epoch 90/100
875/875 [==============================] - 2s 3ms/step - loss: 81.1693
Epoch 91/100
875/875 [==============================] - 3s 3ms/step - loss: 81.1162
Epoch 92/100
875/875 [==============================] - 3s 3ms/step - loss: 80.9881
Epoch 93/100
875/875 [==============================] - 3s 3ms/step - loss: 80.9318
Epoch 94/100
875/875 [==============================] - 3s 3ms/step - loss: 80.8663
Epoch 95/100
875/875 [==============================] - 2s 3ms/step - loss: 80.6834
Epoch 96/100
875/875 [==============================] - 2s 3ms/step - loss: 80.6279
Epoch 97/100
875/875 [==============================] - 4s 4ms/step - loss: 80.5958
Epoch 98/100
875/875 [==============================] - 3s 3ms/step - loss: 80.3599
Epoch 99/100
875/875 [==============================] - 2s 3ms/step - loss: 80.3222
Epoch 100/100
875/875 [==============================] - 2s 3ms/step - loss: 80.2244

Step-6: Evaluating the Model

In [ ]:
mse = model.evaluate(X_test_trf, y_test)
print(f'Mean Squared Error: {mse}')

219/219 [==============================] - 1s 2ms/step - loss: 85.2829
Mean Squared Error: 85.2829360961914